fastapi
uvicorn[standard]
pydantic
pymongo
pandas
xlsxwriter
openpyxl
python-multipart
fastapi[all]
# Time-series forecasting
prophet==1.1.5

# ML and metrics
scikit-learn==1.4.0
statsmodels==0.14.1

# JWT Authentication
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1